body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fondo{
    width: 100%;
    height: 100vh;
    background: cadetblue;
    margin: auto;
    position: relative;
}

#circulo{
    width: 80px;
    height: 80px;
    background: #cc4d1b;
    position: absolute;
    border-radius: 80px; /*Se utiliza para darle forma al circulo*/
    animation: pelota 10s infinite linear;
}

@keyframes pelota {
    0%{
        background: #cc4d1b;
        top: 0%;
        left: 0%;
    }

    5%{
        background: #cc4d1b;
        top: 10%;
        left: 0%;
    }

    10%{
        background: #cc4d1b;
        top: 20%;
        left: 0%;
    }

    15%{
        background: #cc4d1b;
        top: 30%;
        left: 0%;
    }

    20%{
        background: #cc4d1b;
        top: 40%;
        left: 0%;
    }

    25%{
        background: #cc4d1b;
        top: 50%;
        left: 0%;
    }

    30%{
        background: #cc4d1b;
        top: 60%;
        left: 0%;
    }

    35%{
        background: #cc4d1b;
        top: 70%;
        left: 0%;
    }

    40%{
        background: #cc4d1b;
        top: 80%;
        left: 0%;
    }

    45%{
        background: #cc4d1b;
        top: 87%;
        left: 0%;
    }

    50%{
        background: #cc4d1b;
        top: 77%;
        left: 10%;
    }

    55%{
        background: #cc4d1b;
        top: 67%;
        left: 20%;
    }

    60%{
        background: #cc4d1b;
        top: 77%;
        left: 30%;
    }

    65%{
        background: #cc4d1b;
        top: 87%;
        left: 40%;
    }

    70%{
        background: #cc4d1b;
        top: 77%;
        left: 50%;
    }

    75%{
        background: #cc4d1b;
        top: 67%;
        left: 60%;
    }

    80%{
        background: #cc4d1b;
        top: 77%;
        left: 70%;
    }

    85%{
        background: #cc4d1b;
        top: 87%;
        left: 80%;
    }

    90%{
        background: #cc4d1b;
        top: 77%;
        left: 90%;
    }

    95%{
        background: #cc4d1b;
        top: 67%;
        left: 100%;
    }

    100%{
        background: #cc4d1b;
        top: 77%;
        left: 100%;
    }
}