@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap');

body{
    background: url(./../Img/retro.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-family: "Lobster";
    color: rgba(11, 10, 97, 0.986);
    font-size: 40px;
    
}

h2{
    text-align: center;
    font-family: "Lobster";
    color:  rgba(11, 10, 97, 0.986);
    font-size: 30px;
}

ul{
    text-align: center;
    font-family: "Lobster";
    color: rgb(3, 45, 65);
    font-size: 20px;
}